<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Week3</title>
  <link rel="stylesheet" href=".css/style.css">
</head>
<body>
  <div id="app" class="container">
    <div class="text-right my-4">
      <button class="btn btn-primary" v-on:click="openModal('new')">新增產品</button>
      <!-- 增加 v-on:click 啟動 openModal 函式 -->
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">分類</th>
          <th scope="col">產品名稱</th>
          <th scope="col">原價</th>
          <th scope="col">特價</th>
          <th scope="col">是否啟用</th>
          <th scope="col">編輯</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item) in productArray" :key="item.id">
          <!-- 使用 v-for 渲染 productArray 內容至表格 -->
          <th scope="row">{{item.category}}</th>
          <td>{{item.title}}</td>
          <td>{{item.origin_price}}</td>
          <td>{{item.price}}</td>
          <td>
            <span v-if="item.enabled" class="text-success">啟用</span>
            <span v-else>未啟用</span>
            <!-- 使用 v-if、v-else 判斷，顯示「啟用」或「未啟用」 -->
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-primary" v-on:click="openModal('edit',item)">編輯</button>
              <!-- 增加 v-on:click 啟動 openModal 函式 -->
              <button type="button" class="btn btn-outline-danger" v-on:click="openModal('delete',item)">刪除</button>
              <!-- 增加 v-on:click 啟動 openModal 函式 -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div id="productModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
    <!-- 此 productModal 「新增」與「編輯」共用 -->
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header bg-primary">新增產品</div>
          <div class="modal-body p-4 rounded-0">
            <div class="row">
              <div class="col-4">
                <form>
                  <div class="form-group">
                    <label for="imageUrl">輸入圖片網址</label>
                    <input type="text" class="form-control" id="imageUrl" placeholder="請輸入圖片網址"
                      v-model.trim="product.imageUrl">
                  </div>
                  <img class="img-fluid" v-bind:src="product.imageUrl" alt="">
                </form>
              </div>
              <div class="col-8">
                <form>
                  <div class="form-group">
                    <label for="title">標題</label>
                    <input type="text" class="form-control" id="title" placeholder="請輸入標題" v-model.trim="product.title">
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="category">分類</label>
                      <input type="text" class="form-control" id="category" placeholder="請輸入分類"
                        v-model.trim="product.category">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="unit">單位</label>
                      <input type="text" class="form-control" id="unit" placeholder="請輸入單位" v-model.trim="product.unit">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="origin_price">原價</label>
                      <input type="number" class="form-control" id="origin_price" placeholder="請輸入原價"
                        v-model.number="product.origin_price">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="price">售價</label>
                      <input type="number" class="form-control" id="price" placeholder="請輸入售價"
                        v-model.number="product.price">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="descriptipn">產品描述</label>
                    <input type="text" class="form-control" id="descriptipn" placeholder="請輸入產品描述"
                      v-model.trim="product.description">
                  </div>
                  <div class="form-group">
                    <label for="content">說明內容</label>
                    <input type="text" class="form-control" id="content" placeholder="請輸入說明內容"
                      v-model.trim="product.content">
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="is_enabled" v-model="product.enabled"
                      :true-value="1" :false-value="0">
                    <!-- 使用 v-modal 判讀，若為 true 值為 1，若為 false 值為 2 -->
                    <label class="form-check-label" for="is_enabled">是否啟用</label>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer p-4 bg-white justify-content-end">
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-secondary" v-on:click="addProduct">確認</button>
            <!-- 增加 v-on:click 啟動 addProduct 函式 -->
          </div>
        </div>
      </div>
    </div>
    <div id="delProductModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-danger text-white">
            <h5 id="exampleModalLabel" class="modal-title">
              <span>刪除商品</span>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            是否刪除
            <strong class="text-danger">{{product.title}}</strong> 商品(刪除後將無法恢復)
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-outline-secondary">取消</button>
            <button type="button" class="btn btn-danger" v-on:click="delProduct">確認刪除</button>
            <!-- 增加 v-on:click 啟動 delProduct 函式 -->
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./js/all.js"></script>
</body>

</html>