<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Week4-productlist</title>
  <link rel="stylesheet" href="./style/style.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="app" class="container">
    <div class="text-right my-4">
      <button class="btn btn-primary" v-on:click="openModal('new')">新增產品</button>
      <!-- 增加 v-on:click 啟動 openModal 函式 -->
      <button class="btn btn-primary" v-on:click="delAllProduct">刪除全部</button>

    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">分類</th>
          <th scope="col">產品名稱</th>
          <th scope="col">原價</th>
          <th scope="col">特價</th>
          <th scope="col">是否啟用</th>
          <th scope="col">編輯</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item) in productArray" :key="item.id">
          <!-- 使用 v-for 渲染 productArray 內容至表格 -->
          <th scope="row">{{item.category}}</th>
          <td>{{item.title}}</td>
          <td>{{item.origin_price}}</td>
          <td>{{item.price}}</td>
          <td>
            <span v-if="item.enabled" class="text-success">啟用</span>
            <span v-else>未啟用</span>
            <!-- 使用 v-if、v-else 判斷，顯示「啟用」或「未啟用」 -->
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-primary" v-on:click="openModal('edit',item)">編輯</button>
              <!-- 增加 v-on:click 啟動 openModal 函式 -->
              <button type="button" class="btn btn-outline-danger" v-on:click="openModal('delete',item)">刪除</button>
              <!-- 增加 v-on:click 啟動 openModal 函式 -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination :pages="pagination" @update="getData"></pagination>

    <!-- Modal -->
    <div id="productModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <productmodal :product="product" @update="getData" :api="api"></productmodal>
    </div>
    <div id="delProductModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <delmodal :product="product" @update="getData" :api="api"></delmodal>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  <script src="./js/all.js" type="module"></script>
</body>

</html>